
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
ADMIN_IDS=[123456789]

DB_HOST=postgres
DB_PORT=5430
DB_USER=expense_user
DB_PASSWORD=strong_password_here
DB_NAME=expenсe_bot

REDIS_HOST=redis
REDIS_PORT=6370
REDIS_DB=0
